h1{
    font-family: 'Bevan';
    text-align: center;
    color:purple;
}
h2{
    text-align: center;
}
.x{
    color: purple;
}
.o{
    color: red;
}
#table{
    font-size: larger;
    max-width: 130px;
    min-width: 130px;
}
#tandb{
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#ttt{
    border-collapse: collapse;
    border-style: hidden;
}
#button{
    display: flex;
    justify-content: center;
}
#tr > td {
    border: 3px solid black;
    width: 60px;
    height: 60px;
}

@media screen and (min-width: 580px)
{
    h1{font-size: 80px; font-style: initial;}
    .column { float: left; }
    .left { width: 10%;}
    .right { width: 90%;}
    #table{
        position: absolute;
        top: 46%;
        margin-left: 5%;
        border-style: solid;
        border-color: purple;}
}
@media screen and (max-width: 580px)
{
    .column{float: none;}
    #table{
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-height: 550px)
{
    h1{ display: none;}
    #table{margin-top: 1cm;}
}
@media screen and (min-height: 550px) and (max-width: 580px)
{
    h1{ font-size: 40px;}
    #table{margin-top: 1cm;}
}